body {
  font-family: serif;
  margin: 40px;
  max-width: 900px;
}

header {
  margin-bottom: 60px;
}

h1, h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

.project-preview {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  margin: 20px 0;
}
